@font-face {
  font-family: "CooperBlack";
  src: url("fonts/CB.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.container {
  padding: 2%;
}

a {
    color: rgb(255, 242, 0);
    text-shadow: 2px -1px rgb(237, 0, 142), -2px 1px rgb(0, 176, 240);
  text-decoration-line: none;
  
}

a:hover {
  text-shadow: 2px 1px rgb(237, 0, 142), -2px -1px rgb(0, 176, 240);;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0 0 1% 0;
  border: 1px;
  border-color: aliceblue;
}

h3 {
  margin-bottom: 2%;
}

body {
  font-family: "CooperBlack", serif;
  font-size: 210%;
  color: white;
  background-color: black;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

body::after{
  content: '';
  display: block;
  height: 69px;
  margin: 0;
  padding: 0;
}

footer {
  font-size: 60%;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  height: 69px;
  margin: 0;
  padding: 0;
}
