@font-face {
  font-family: "CooperBlack";
  src: url("fonts/CB.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.container {
  padding: 2%;
}

a {
    color: aqua;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "CooperBlack", serif;
  color: white;
  background-color: black;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
