@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');

@font-face {
  font-family: "CooperBlack";
  src: url("fonts/CB.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.container {
  padding: 2%;
}

a {
  font-family: 'CooperBlack', serif;
  font-size: 80%;
  color: rgb(255, 242, 0);
  text-shadow: 2px -1px rgb(237, 0, 142), -2px 1px rgb(0, 176, 240);
  text-decoration-line: none;
}

a:hover {
  text-shadow: 2px 1px rgb(237, 0, 142), -2px -1px rgb(0, 176, 240);
  ;
}

#dates {
  width: 100%;
  justify-content: center;
  display: flex;
}

#dates table {
  font-family: 'Barlow Condensed', sans-serif;
  max-width: 1500px;
  width: 85%;
  border-collapse: collapse;
}

#gigList td {
  padding: 2% 1%;
  vertical-align: top;
}

#gigList td:nth-child(2) {
  max-width: 300px;
}

#gigList td:nth-child(1),
#gigList td:nth-child(3) {
  white-space: nowrap;
}

h3 {
  margin-bottom: 2%;
}

body {
  font-family: 'CooperBlack', serif;
  font-size: 210%;
  color: white;
  background-color: black;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 69px;
  margin: 0;
  padding: 0;
}

footer {
  font-size: 60%;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  height: 69px;
  margin: 0;
  padding: 0;
}